@import url("https://fonts.googleapis.com/css2?family=Piazzolla&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ceviche+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway+Dots&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Black+Ops+One&family=Cal+Sans&family=Creepster&family=Great+Vibes&family=Monoton&family=Permanent+Marker&family=Pirata+One&family=Press+Start+2P&family=Rubik+Mono+One&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  min-height: 100%;
}

body {
  display: flex;
  padding: 100px;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 20px;
  background-color: #282a56;
}

.container {
  display: flex;
  justify-content: center;
  gap: 90px;
  flex-wrap: wrap;
}

.word {
  max-width: max-content;
  display: flex;
  gap: 20px;
}

.word > span {
  position: relative;
  padding: 20px 30px;
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 90px;
  max-height: 90px;
  border: 6px solid grey;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.8s ease-in-out;
}

/* Sample CSS for the WHY word */

.whyWLetter {
  font-size: 72px;
  font-weight: bold;
  color: aqua;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: "Piazolla", sans-serif;
}

.whyHLetter {
  font-size: 30px;
  font-weight: bold;
  color: darkgoldenrod;
  text-decoration: overline;
  text-transform: lowercase;
  font-family: "Ceviche One", sans-serif;
}

.whyYLetter {
  font-size: 60px;
  font-weight: normal;
  color: coral;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Raleway Dots", sans-serif;
}

/* DID word */

.didDLetter {
}

.didILetter {
}

.didDTwoLetter {
}

/* THE word */

.theTLetter {
}

.theHLetter {
}

.theELetter {
}

/* FRONT-END word */

.frontendFLetter {
}

.frontendRLetter {
}

.frontendOLetter {
}

.frontendNLetter {
}

.frontendTLetter {
}

.frontendELetter {
}

.frontendNTwoLetter {
}

.frontendDLetter {
}

/* DEVELOPER word */

.developerDLetter {
}
.developerELetter {
}
.developerVLetter {
}
.developerETwoLetter {
}
.developerLLetter {
}
.developerOLetter {
}
.developerPLetter {
}
.developerEThreeLetter {
}
.developerRLetter {
}

/* TAKE word */

.takeTLetter {
}
.takeALetter {
}
.takeKLetter {
}
.takeELetter {
}

/* UP word */

.upULetter {
}
.upPLetter {
}

/* GARDENING word */

.gardeningGLetter {
}
.gardeningALetter {
}
.gardeningRLetter {
}
.gardeningDLetter {
}
.gardeningELetter {
}
.gardeningNLetter {
}
.gardeningILetter {
}
.gardeningNTwoLetter {
}
.gardeningGTwoLetter {
}

/* BECAUSE word */

.becauseBLetter {
}
.becauseELetter {
}
.becauseCLetter {
}
.becauseALetter {
}
.becauseULetter {
}
.becauseSLetter {
}
.becauseETwoLetter {
}

/* THEY word */

.theyTLetter {
}
.theyHLetter {
}
.theyELetter {
}
.theyYLetter {
}

/* WANTED word */

.wantedWLetter {
}
.wantedALetter {
}
.wantedNLetter {
}
.wantedTLetter {
}
.wantedELetter {
}
.wantedDLetter {
}

/* TO word */

.toTLetter {
}
.toOLetter {
}

/* IMPROVE word */

.improveILetter {
}
.improveMLetter {
}
.improvePLetter {
}
.improveRLetter {
}
.improveOLetter {
}
.improveVLetter {
}
.improveELetter {
}

/* THEIR word */

.theirTLetter {
}
.theirHLetter {
}
.theirELetter {
}
.theirILetter {
}
.theirRLetter {
}

/* ROOT word */

.rootRLetter {
}
.rootOLetter {
}
.rootOTwoLetter {
}
.rootTLetter {
}

/* SKILLS word */

.skillsSLetter {
}
.skillsKLetter {
}
.skillsILetter {
}
.skillsLLetter {
}
.skillsLTwoLetter {
}
.skillsSTwoLetter {
}

/* SYMBOLS */

.hyphen {
}
.exclamation-mark {
}
.question-mark {
}

/* I grouped letters by classes for this exercise */
.the-letter-d {
  font-family: "Cal Sans", sans-serif;
  font-weight: 400;
  font-size: 5rem;
  color: #a4b465;
  text-transform: capitalize;
  background-color: #392421;
}

.the-letter-e {
  font-family: "Comic Sans", sans-serif;
  font-weight: 800;
  font-size: 4rem;
  color: #54007e;
  background-color: #f8d063;
  text-transform: lowercase;
}

.the-letter-g {
  font-family: "Catull", serif;
  color: #2323fd;
  font-size: 5rem;
  font-weight: bold;
  background-color: white;
  text-transform: lowercase;
  text-shadow: 1px 1px 2px rgb(1, 1, 63);
}

.the-letter-f {
  font-family: "Permanent Marker", cursive;
  font-weight: bold;
  text-decoration: double;
  color: rgb(168, 4, 4);
  background-color: #fff;
  font-size: 7rem;
}

.the-letter-o {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  text-decoration: line-through;
  color: rgb(0, 255, 0);
  background-color: #131417;
  font-size: 4rem;
  text-transform: capitalize;
}

.the-letter-r {
  background-color: #ebe4ce;
  color: #110301;
  font-family: "Pirata One", system-ui;
  font-size: 5rem;
  font-weight: 400;
}

.the-letter-t {
  font-family: "Rubik Mono One", monospace;
  font-size: 6rem;
  text-transform: capitalize;
  background-color: #3d0155;
  color: rgb(229, 170, 20);
}

.the-letter-a {
  font-family: "Great Vibes", cursive;
  font-size: 7rem;
  font-weight: bold;
  color: #027a24;
  background-color: rgb(217, 224, 0);
}

.the-letter-i {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 4rem;
  font-weight: bold;
  background-color: white;
  color: black;
}

.the-letter-k,
.developerVLetter,
.developerVLetter {
  background-color: black;
  color: red;
  font-family: "Creepster", system-ui;
  font-size: 6rem;
  font-weight: 600;
}
